<div class="container-fluid session_container">
<h1 class="text-center" id="notification"></h1>
	<div class="row">
	<% @sessions.each_with_index do |session, index| %>
		<% if index < 3 %>
				<div class="col-md-4 session_box">
					<%= render partial: "online", locals: {session: session} %>
				</div>
		<% else %>
			</div>
			<div class="row">
				<div class="col-md-4 session_box">
					<%= render partial: "online", locals: {session: session} %>
				</div>
		<% end %>
	<% end %>

	</div>
</div>