<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
			<% flash.each do |key, value| %>
			  <%= content_tag :div, value, class: "flash #{key}" %>
			<% end %>
			<tr>
				<th>Gamertag</th>
				<th>Game</th>
				<th>Date</th>
				<th>Answer Question</th>
			</tr>			
			<% @recents.each do |recent| %>
			<tr>
				<td><%= recent.friend.id %></td>
				<td>need to add game functionality</td>
				<td><%= recent.created_at %></td>
				<td><%= button_to 'Answer Question', guesses_path(guesser: "#{recent.player.id}", friend: "#{recent.friend.id}"), method: :get %></td>				
			</tr>
			<% end %>
		</table>
	</div>
</div>